*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191919;
  overflow: hidden;
}

.app{
  padding: 0.5rem;
  width: 100vw;
  max-width: 800px;
  background-color: #202020;
  border-radius: 6px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
  "locdate locdate"
  "largeCard smallCards";
  gap: 0.5rem;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  padding: 0.5rem;
  border-radius: 3px;
  height: 100%;
}

.icon{
  font-size: 1.5rem;
}

.location-and-date{
  grid-area: locdate;
  justify-content: flex-start;
  gap: 0.5rem;
}

.location-select{
  background-color: #202020;
  color: #fff;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #444;
  /* border: none; */
}

.location-select option{
  padding: 0.25rem ;
}

.card-large{
  grid-area: largeCard;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "icon"  
  "data";
}

.icon-large{
  grid-area: icon;
  font-size: 6rem;
  text-align: center;
}

.card-large-data-cells{
  grid-area: data;
}

.data-cell{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  padding: 0.25rem ;
}

.data-cell.accent{
  padding: 0.5rem;
  gap: 0.25rem;
  border-radius: 3px;
  background-color: #202020;
}

.small-cards, .card-large-data-cells{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.small-cards{
  grid-area: smallCards;
}

.card-small{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1.5fr 3fr 2fr;
}

.cell-weather-icon{
  font-size: 2rem;
}

@media (max-width: 700px) {
  .app{
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
    "locdate locdate"
    "largeCard largeCard"
    "smallCards smallCards";
  }

  .card-large{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "icon data"
  }
}
